<ion-content>
    <div class="container">
        <div id="check_data">
            <img class="bg" [src]="isMobile ? 'https://familylola-15775.kxcdn.com/assets/imgs/general-content-background-mobile.png' : 'https://familylola-15775.kxcdn.com/assets/imgs/general-content-background.png'" alt="">
            <div class="content">
                <img src="https://familylola-15775.kxcdn.com//assets/imgs/toyota-logo.png" alt="">
                <br>
                <h1 class="check_lines">Click <a href="https://www.NYCWFF2020TOYOTASURVEY.com" style="color:#009B87 !important;">HERE</a> if you didn’t</h1>
                <h1 class="check_lines">complete the Toyota survey.</h1>
                <br>
                <h1 class="check_lines">Click the NEXT button </h1>
                <h1 class="check_lines">to continue to order</h1>
                <h1 class="check_lines">your complimentary Oven Mitt.</h1>
                <!-- <div id="check_data" style="z-index: 1;">
                    <h1 class="check_lines">Uh Oh!</h1>
                    <h1 class="check_lines">This promotion has ended!</h1>
                    <br>
                </div> -->
            </div>
        </div>
        <br>
        <div class="button-container">
            <div class="start"></div>
            <div class="center"></div>
            <div class="end">
                <button class="pageBtn nextBtn" (click)="next()" [disabled]="oneClick">
                    NEXT
                </button>
            </div>
        </div>
    </div>
</ion-content>
