page-thanks {
    ion-content {
        background-image: url('https://familylola-15775.kxcdn.com/assets/imgs/general-page-background.png');

        @media(max-width: 505px) {
            background-image: url('https://familylola-15775.kxcdn.com/assets/imgs/general-background-mobile.png'); 
        }
    }
    #thank_text {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        top: 200px;
        bottom: 0;
        z-index: 10;
        padding-left: 30px;
        padding-right: 30px;
        h1 {
            font-size: 2.75rem;
            margin: 0;
        }
        }
    // this is the mobile stuff
    #mb_thank_text {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        top: 200px;
        bottom: 0;
        z-index: 10;
        padding-left: 30px;
        padding-right: 30px;
        h1 {
            font-size: 2.75rem;
            margin: 0;
        }
    }
}
