<ion-content *ngIf="isMobile == false">
    <div style="position: relative;">
        <img src='https://familylola-15775.kxcdn.com/assets/imgs/beige_box_normal.png'style="max-width: 65%;position:relative;left:18%;"/>
        <div id="thank_text">
            <h1>Thank you for ordering you</h1>
            <h1>Oven Mitt!</h1>
            <h1>Your order is being processed</h1>
            <h1>and will arrive within 4-6 weeks.</h1>
        </div>
    </div>
</ion-content>

<!-- this is the mobile stuff -->
<ion-content *ngIf="isMobile == true">
    <div>
        <img src='https://familylola-15775.kxcdn.com/assets/imgs/beige_box_mobile.png' style="max-width: 96%;margin-left:7px;margin-right:7px;margin-top:10%;"/>
        <div id="mb_thank_text" style="position: absolute;">
            <h1>Thank you for ordering you</h1>
            <h1>Oven Mitt!</h1>
            <h1>Your order is being</h1>
            <h1>processed and will arrive</h1>
            <h1>within 4-6 weeks.</h1>
        </div>
    </div>
</ion-content>
