page-info {
    ion-content {
        background-image: url('https://familylola-15775.kxcdn.com/assets/imgs/form_background_normal.png');

        @media(max-width: 505px) {
            background-image: url('https://familylola-15775.kxcdn.com/assets/imgs/form_background_mobile.png'); 
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0px;

            #box {
                position: relative;
                flex: 0 0 0px;

                img.bg{
                    display: block;
                    height: 90vh;
                    width: auto;
                    max-width: 95vw;
                    box-sizing: border-box;
                    margin: 0;
                }

                .content {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    padding: 60px 15px 50px 15px;
                    text-align: center;

                    img.decorated_normal {
                        position: relative;
                    }
                    h1#name_instructions {
                        @media(max-width: 1260px) { 
                            font-size: .6em;
                        }
                        font-size: 1em;
                    }
                    form#browser_form{
                        width: 100%;
                        font-size: 2.2rem;
                        max-width: 90%;
                        left: 0;
                        right: 0;
                        margin: auto;
                
                        .input-collection {
                            width: 33%;
                            display: flex;

                            @media(max-width: 1260px) {
                                width: 100%;
                            }
                        }
                
                        ion-row {
                            ion-input {
                                &.thirds {
                                    width: calc(33% - 20px);

                                    @media(max-width: 1260px) {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                
                        ion-input {
                            padding: 5px 15px;
                            border: 1px solid grey;
                            border-radius: 7px;
                            margin: 20px 10px 15px 10px;
                            height: auto;
                            background-color: white;
                
                            @media(max-width: 1260px) {
                                font-size: .6em;
                                input {
                                    margin: 0;
                                }
                                padding: 8px 15px;
                                margin: 5px 3px;
                            }
                
                        }
                
                        input::placeholder,
                        .select-placeholder {
                            color: #555 !important;
                        }
                
                        .error {
                            width: 100%;
                            color: #c00;
                            text-align: center;
                        }
                    }

                    img {
                        width: 25%;
                        margin-bottom: 20px;
                        @media(max-width: 505px) {
                            width: 60%;
                            margin: 0;
                        }
                        height: auto;
                    }

                    h1.check_lines {
                        font-size: 2.3em;
                        
                        @media(max-width: 505px) {
                            margin-bottom: 5px;
                            margin-top: 5px;
                            font-size: 1.6em;
                        }
                        font-family: 'Toyota Bold';
                    }
                }
            }
        }
    }
}