<ion-content>
    <div class="container">
        <div id="box">
            <img class="bg" [src]="isMobile ? 'https://familylola-15775.kxcdn.com/assets/imgs/form-content-background-mobile.png' : 'https://familylola-15775.kxcdn.com/assets/imgs/form-content-background.png'"/>
            <div class="content" *ngIf="!soldOut">
                <form id="browser_form">
                    <img src="https://familylola-15775.kxcdn.com/assets/imgs/toyota-logo.png" alt="">
                    <h1 id="name_instructions">Fill out your shipping information here to receive your Oven Mitt. Limit one per person, while supplies last.</h1>
                    <ion-row>
                        <ion-input class="thirds" type="text" name="first_name" placeholder="First Name" [(ngModel)]="userInfo.first_name"></ion-input>
                        <ion-input class="thirds" type="text" name="last_name" placeholder="Last Name" [(ngModel)]="userInfo.last_name"></ion-input>
                        <div class="input-collection thirds mobile-break">
                            <ion-input type="email" name="email" placeholder="Email Address" [(ngModel)]="userInfo.email"></ion-input>
                        </div>
                        
                    </ion-row>
    
                    <ion-row>
                        <ion-input [(ngModel)]="userInfo.address1" name="address1" (ionChange)="UpdateSearchResults()" placeholder="Shipping Address 1" (ionBlur)="blurFunction()" (ionClear)="ClearAutocomplete()"></ion-input>
                        <ion-list [hidden]="autocompleteItems.length == 0">
                            <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
                            {{ item.description }}
                            </ion-item>
                        </ion-list>
                        <ion-input type="text" name="address2" placeholder="Apartment/Suite #" [(ngModel)]="userInfo.address2"></ion-input>
                    </ion-row>
    
                    <ion-row>
                        <ion-input class="thirds" type="text" name="city" placeholder="City" [(ngModel)]="userInfo.city"></ion-input>
                        <div class="input-collection">  
                        <ion-input type="text" name="state" placeholder="State/Region" [(ngModel)]="userInfo.state"></ion-input>
                        <ion-input type="text" name="zip" placeholder="Zip" [(ngModel)]="userInfo.zip"></ion-input>
                        </div>
                    </ion-row>
                    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
                </form>
            </div>
            <div class="content" *ngIf="soldOut">
                <img class="decorated_normal" src='https://familylola-15775.kxcdn.com/assets/imgs/beige_box_decoration_normal.png'/>
                <h2 class="sold_out">UH OH!</h2>
                <h2 class="sold_out_bottom">This promotion has ended.</h2>
            </div>
        </div>
        <br>
        <div class="button-container" *ngIf="!soldOut">
            <div class="start"></div>
            <div class="center"></div>
            <div class="end">
                <button class="pageBtn nextBtn" (click)="next()" [disabled]="oneClick">
                    NEXT
                </button>
            </div>
        </div>
    </div>
</ion-content>
