@font-face {
    src: url('https://familylola-15775.kxcdn.com/assets/fonts/ToyotaType-Bold.otf') format('opentype');
    font-family: 'Toyota Bold';
}
ion-content {
    // background-color: #00AE9A !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Toyota Bold';
    --overflow: hidden;
}

.page_title {
    font-size: 5rem;
    text-align: center;
    position: absolute;
    top: 20px;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    @media (max-width: 1024px) {
        font-size: 4rem;
        position: relative;
        margin-bottom: 10%;
    }
}

.button-container {
    width: 100%;
    flex: 0 0 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 0px;

    .start{
        flex: 0 0 0px;
    }

    .end {
        flex: 0 0 0px;
    }

    .center {
        flex: 1 0 0px;
    }

    .pageBtn {
        border: 1px solid grey;
        background-color: #DCCCAE;
        color: rgb(100, 100, 100);
        border-radius: 7px;
        padding: 19px;
        text-align: center;
        font-size: 2rem;
        @media (max-width: 1024px) {
            font-size: 2.5rem;
        }

        &.nextBtn {
            justify-self: flex-end;
        }
        &.backBtn {
            justify-self: flex-start;
        }
    }
}

#smalldevicewarning {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 50px;
}

.mb_pageBtn {
    position: fixed;
    border: 1px solid grey;
    background: #fff;
    border-radius: 7px;
    padding: 19px;
    // width: 160px;
    text-align: center;
    font-size: 2.5rem;
    display: block;
    overflow: hidden;

    @media (max-width: 1024px) {
        font-size: 2.5rem;
        // width: calc(50% - 21px);
        position: relative;
        display: inline-block;
        margin: 10px 9px;
    }

    &.backBtn {
        left: 50px;
        @media (max-width: 1024px) {
            left: unset;
        }
    }
    &.nextBtn {
        right: 56px;
        @media (max-width: 1024px) {
            right: unset;
        }
    }
    span {
        position: relative;
        z-index: 10;
    }
}