<ion-content>
    <div class="container">
        <div id="check_data">
            <img alt="beige box" class="bg" [src]="isMobile ? 'https://familylola-15775.kxcdn.com/assets/imgs/info_confirmation-background-mobile.png' : 'https://familylola-15775.kxcdn.com/assets/imgs/info_confirmation-content-background.png'"/>
            <div class="content">
                <img src="https://familylola-15775.kxcdn.com/assets/imgs/toyota-logo.png" alt="">
                <h1 id="check_instructions">Please make sure all your information is correct.</h1>
                <br>
                <p class="check_lines">{{data.user?.first_name}} {{data.user?.last_name}}</p>
                <p class="check_lines">{{data.user?.email}}</p>
                <p class="check_lines">{{data.user?.address1}} {{data.user?.address2}}</p>
                <p class="check_lines">{{data.user?.city}}, {{data.user?.state}} {{data.user?.zip}}</p>
                <p class="check_lines">{{data.user?.country}}</p>
            </div>
        </div>
        <br>
        <div class="button-container">
            <div class="left">
                <button class="pageBtn backBtn" style="background-color: #DCCCAE;" (click)="navCtrl.pop()"  [disabled]="alreadySubmitted">
                    BACK
                </button>
            </div>
            <div class="center"></div>
            <div class="right">
                <button class="pageBtn nextBtn" style="background-color: #DCCCAE;" (click)="submit()" [disabled]="oneClick">
                    SUBMIT
                </button>
            </div>
        </div>
    </div>

    <div>
        
        
    </div>
</ion-content>
