page-confirm {
    ion-content {
        background-image: url('https://familylola-15775.kxcdn.com/assets/imgs/general-page-background.png');

        @media(max-width: 505px) {
            background-image: url('https://familylola-15775.kxcdn.com/assets/imgs/general-background-mobile.png'); 
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0px;

            #check_data {
                position: relative;
                flex: 0 0 0px;

                img.bg{
                    display: block;
                    height: 80vh;
                    width: auto;
                    max-width: 90vw;
                    box-sizing: border-box;
                    margin: 0;
                }

                .content {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    padding: 50px 15px;
                    text-align: center;

                    img {
                        width: 40%;
                        @media(max-width: 505px) {
                            width: 60%;
                        }
                        height: auto;
                    }

                    h1#check_instructions {
                        margin-bottom: 0px;
                        @media(max-width: 1260px) { 
                            font-size: 1.6em;
                        }
                        font-size: 1em;
                    }

                    .check_lines {
                        font-size: 2.3em;
                        
                        @media(max-width: 505px) {
                            margin-bottom: 0;
                            margin-top: 0;
                            font-size: 1.6em;
                        }
                        font-family: 'Toyota Bold';
                    }
                }
            }
        }
    }
}